button {
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    text-align: center;
}
th {
    cursor: pointer;
}
.content-container {
    display:block;
    margin: auto;
    width: 100%;
    border: 1px solid #4564a7;
    box-shadow: 0 0 28px 10px #a7a7a7;
    border-radius: 10%;
    padding: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.container {
    padding: 100px 0 100px 0;
    perspective: 800px;
}

.content {
    font-family: 'Raleway', sans-serif;
    display: block;
    margin: auto auto 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bold {
    font-weight: bold;
}

.delete {
    margin-top: -2px;
}

.padding-top {
    padding-top: 12px;
}
#main-description {
    font-weight: bold;
    color: #38aaff;
    border-bottom: 2px solid #38aaff;
    border-top: 2px solid #38aaff;
    padding-top: 10px;
}

#dates {
    margin-bottom: 20px;
}
#back {
    width: 100%;
    position: absolute;
    margin: auto;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
#front {
    width: 100%;
    position: absolute;
    margin: auto;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
#transform {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    transition: transform 1s;
}

#transform.flipped {
    transform: rotateY(180deg);
}

.btn-sm {
    font-weight: bold;
}

.no-flights {
    background-color: indianred !important;
}

.margin-top {
    margin-top: 15px;
}

